@charset "UTF-8";
html {
  font-size: 15px; }

.bienvenidos {
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(107, 107, 107, 0.15)),url("../images/hexi_pequen.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden; }

.fixed-top {
  background: rgba(0, 0, 0, 0.6); }

.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
  color: #fff;
  font-size: 1.3rem; }

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff; 
}


.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
  border-top:2px solid #13bfbf;
  text-align: center;
  padding: .5rem;

  }

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-align: center;
  padding: .5rem; }

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff !important;
  background: #13bfbf;
  padding: .5rem; }

.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.position{
  color: #13bfbf;
  text-align: center;
  padding: .5rem;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.9); }

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:hover {
  color: rgba(255, 255, 255, 0.9); }

.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.25); }

.bienvenidos .fa {
  display: inline-block;
  font-size: 1.4em;
  vertical-align: middle;
  background: no-repeat center center;
  background-size: 100% 100%; }

.bienvenidos .fa-chevron-down {
  font-size: .7em;
  color: #fff; }

#navbarTogglerDemo02 {
  clear: both; }

.texto-bienvenido {
  margin-top: 9rem;
  color: #fff; }

.texto-bienvenido a{
    visibility: visible;
    animation-duration: 1.5s;
    text-decoration: none;
}

.texto-bienvenido img{
  width: 60px;
}

.texto-bienvenido .icon-Recurso-1h{
  font-size: 180px;
}

.btn-primary {
  background: #13bfbf;
  border-color: #13bfbf;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.btn-primary:focus,
.btn-primary:hover {
  background: #009999;
  border-color: #009999; }

/*ESTILOS BLOQUE Quienes Somos*/
.quienes-somos {
  background: #009999;
  color: #fff; }

.quienes-somos img {
  width: 50%;
 }

.quienes-somos .img{
  width: 60px;
}

/*Estilos bloque servicios*/
.servicios h3 {
  font-weight: bold; }

.servicios .img {
  display: inline-block;
  font-size: 8rem;
  vertical-align: middle;
  color: #009999;
  background: no-repeat center center;
  background-size: 100% 100%;
  transition: 1.5s ease;
  -moz-transition: 1.5s ease;
  /* Firefox */
  -webkit-transition: 1.5s ease;
  /* Chrome - Safari */
  -o-transition: 1.5s ease;
  /* Opera */ }

.servicios .img:hover {
  display: inline-block;
  vertical-align: middle;
  background: no-repeat center center;
  transform: scale(1.15);
  -moz-transform: scale(1.15);
  /* Firefox */
  -webkit-transform: scale(1.15);
  /* Chrome - Safari */
  -o-transform: scale(1.15);
  /* Opera */
  -ms-transform: scale(1.15);
  /* IE9 */ }

.servicios .down{
  width: 60px;
}

/*Estilos últimos proyectos*/
.ultimos-proyectos {
  background: #009999; }

.ultimos-proyectos h2 {
  color: #fff; }

.ultimos-proyectos .img{
  width: 15%;
}

/*Estilos footer*/
.footer {
  background: #222;
  color: #fff;
  display: flex;
    flex-direction: column; }

.footer ul li {
  list-style: none; }

.footer li {
  padding-bottom: 1.8px; }

.footer a {
  text-decoration: none;
  color: #fff; }

.footer a:hover {
  color: #13bfbf; }

.footer .fa {
  font-size: 1.3rem; }

.modal textarea{
  resize: none;
}

.modal-content .btn-primary{
  color: #fff;
}

.btn-primary:disabled {
    background-color: #3fbbbb;
    border-color: #3fbbbb;
}

.modal-content .has-success .input-group-addon {
    color: #fff;
    border-color: #5cb85c;
    background-color: #13bfbf;
}

.modal-content .has-danger .input-group-addon {
    color: #fff;
    border-color: #d9534f;
    background-color: #13bfbf;
}

.modal-footer a:not([href]):not([tabindex]){
  color: #009999;
}

.modal-footer a:not([href]):not([tabindex]):hover{
  color: #13bfbf;
}

@media (min-width: 768px) {
  html {
    font-size: 16px; }

  .bienvenidos {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(107, 107, 107, 0.15)),url("../images/hexi.jpg");
    background-size: cover; }

  .texto-bienvenido {
    margin-top: 12rem; 
    } 

  }

@media(min-height:200px){
   .bienvenidos{
     height: 596px;
   }
}

@media(min-height:597px){
   .bienvenidos{
     height: 100vh;
   }
}

@media(min-width:768px){
   .servicios .img{
     height: 160px;
   }
}

@media(max-width:767px){
  .quienes-somos img{
    width: 70%;
  }
}
/*# sourceMappingURL=estilos.css.map */